body {
  background-color: Black;
  background-image: url("https://hdblackwallpaper.com/wallpaper/2015/05/steelers-colors-black-and-gold-27-wide-wallpaper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  color: white ;
  
  
  
  
    
}

h1 {
  text-shadow: 2px 2px;
  text-align: center;
  font-weight: bold;
  
  
  
}

h2 {
  text-align: left;
  font-size: 45px;
  font-style: italic;
  
}
